nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
  }
  nav img {
    width: 150px;
  }
  nav ul {
    display: flex;
    text-transform: uppercase;
    gap: 25px;
  }
  nav .cart {
    display: flex;
    gap: 15px;
  }